<div class="row card-panel">
  <h5> Create a Campaign </h5>
  <%= form_tag campaign_path(@campaign.id), class: 'col s12', method: :patch do |f| %>
    <div class="row">
      <div class="input-field col s12">
        <%= label_tag 'Campaign name' %>
        <%= text_field_tag :name, @campaign.name %>
      </div>
    </div>
    <div class="col s12 right-align">
      <%= submit_tag 'Update Campaign', class: 'waves-effect waves-light btn-large blue darken-2' %>
    </div>
  <% end %>
</div>
