<h1>Campaigns#index</h1>
<p>Find me in app/views/unsubscribers/index.html.erb</p>

<div class="row">
  <div class="card-panel">
    TEST
  </div>
</div>


<div class="row">
  <div class="card-panel" style="padding:10px;">
    <div class="row" style="margin-bottom:0px;">
      <div class="col s12 m3 l2">
        <div class="switch">
          <label>Inactive<input type="checkbox"><span class="lever"></span>Active
          </label>
        </div>
      </div>
      <div class="col s12 m5 l6">
        <h5>Win Back Email Trigger</h5>
        <br>
        Customers who have abandoned their carts between 1 & 30 days ago..
      </div>
      <div class="col s12 m2 l2">
        <ul>
          <li><i class="material-icons">done</i> 30 Days</li>
          <li><i class="material-icons">assessment</i> {30%} CTR</li>
          <li><i class="material-icons">track_changes</i> 30 Orders</li>
        </ul>
      </div>
      <div class="col center hide-on-small-only m2 l2">
        <a class="btn-floating btn-large waves-effect waves-light blue darken-2"><i class="material-icons">mode_edit</i></a>
      </div>
    </div>
  </div>
</div>
