<div class="row card-panel">
  <h5> Create a Campaign </h5>
  <%= form_for @campaign, class: 'col s12', method: :post do |f| %>
    <div class="row">
      <div class="input-field col s12">
        <%= f.label 'Campaign name' %>
        <%= f.text_field :name %>
      </div>
    </div>
    <div class="col s12 right-align">
      <%= f.submit 'Create', class: 'waves-effect waves-light btn-large blue darken-2' %>
    </div>
  <% end %>
</div>
