<div class="row">
  <div class="card-panel">
    <div class="campaign-header">
      <h4><%= @campaign.name %> - Campaign</h4>
      <%= button_to 'Edit', edit_campaign_path(@campaign), method: :get, class: 'waves-effect waves-light btn-large blue darken-2' %>
    </div>
  </div>
  <div class="card-panel">
    <div class="campaign-header">
      <h4>New Email Message</h4>
    </div>
  </div>
</div>
