<li class="bold"><%= link_to "<i class='small material-icons'>insert_chart</i> Home".html_safe, root_path, class: 'wave-effect waves-teal' %></li>
<li class="bold"><%= link_to "<i class='small material-icons'>my_location</i> Campaigns".html_safe, campaigns_path, class: 'wave-effect waves-teal' %></li>
<li class="bold"><%= link_to "<i class='small material-icons'>settings</i> Account Settings".html_safe, settings_path, class: 'wave-effect waves-teal' %></li>
<li class="bold"><%= link_to "<i class='small material-icons'>email</i> Unsubscribers".html_safe, settings_path, class: 'wave-effect waves-teal' %></li>
