<li class="bold"><a href="" class="waves-effect waves-teal"><i class="small material-icons">insert_chart</i> Home</a></li>
<li class="bold"><a href="" class="waves-effect waves-teal"><i class="small material-icons">settings</i> Campaigns</a></li>
<li class="bold"><a href="" class="waves-effect waves-teal"><i class="small material-icons">chat_bubble</i> Account Settings</a></li>
<li class="bold"><a href="" class="waves-effect waves-teal"><i class="small material-icons">email</i> Unsubscribers</a></li>

